footer {
  height: 80px;
}

h1, h3, h5 {
  font-weight: 100;
}

span.blue {
  color: #00b4d6;
}

p {
  font-weight: 100;
  font-size: 14px;
}

a, a:hover, a:active {
  color: #00b4d6;
  text-decoration: none;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #ffffff;
}

.thumbnail {
  cursor:pointer;
  border-radius: 0px;
  margin-bottom: 0px;
}

/*.thumbnail:hover {
  background-color: #24dcff;
}*/

.thumbnail .caption {
  color: #000000;
}

.play {
  background-color: #ff4b29;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  border: none;
  color: #ffffff;
}

.col-xs-3 {
  padding: 5px;
}

.credits {
  margin-bottom: 0px;
  font-size: 18px;
}

#acoustic-guitar {
  cursor:pointer;
  background-image: url('../images/acoustic-guitar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#acoustic-guitar:hover {
  background-size: cover;
}

#ambient-sparse {
  cursor:pointer;
  background-image: url('../images/ambient-sparse.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#ambient-sparse:hover {
  background-size: cover;
}

#banjo-with-ebow {
  cursor:pointer;
  background-image: url('../images/banjo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#banjo-with-ebow:hover {
  background-size: cover;
}

#cello {
  cursor:pointer;
  background-image: url('../images/cello.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#cello:hover {
  background-size: cover;
}

#clarinet {
  cursor:pointer;
  background-image: url('../images/clarinet.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#clarinet:hover {
  background-size: cover;
}

#ebow {
  cursor:pointer;
  background-image: url('../images/ebow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#ebow:hover {
  background-size: cover;
}

#electribe-mx {
  cursor:pointer;
  background-image: url('../images/electribe-mx.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#electribe-mx:hover {
  background-size: cover;
}

#electric-bass {
  cursor:pointer;
  background-image: url('../images/electric-bass.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#electric-bass:hover {
  background-size: cover;
}


#electric-guitar {
  cursor:pointer;
  background-image: url('../images/electric-guitar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#electric-guitar:hover {
  background-size: cover;
}

#harmon-trumpet {
  cursor:pointer;
  background-image: url('../images/harmon-trumpet.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#harmon-trumpet:hover {
  background-size: cover;
}

#information {
  cursor:pointer;
  background-image: url('../images/information.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#information:hover {
  background-size: cover;
}

#kaoss-pad-synth {
  cursor:pointer;
  background-image: url('../images/kaoss-pad-synth.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#kaoss-pad-synth:hover {
  background-size: cover;
}

#mallets {
  cursor:pointer;
  background-image: url('../images/mallets.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#mallets:hover {
  background-size: cover;
}

#nintendo-ds {
  cursor:pointer;
  background-image: url('../images/nintendo-ds.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#nintendo-ds:hover {
  background-size: cover;
}

#omnichord-and-qchord {
  cursor:pointer;
  background-image: url('../images/omnichord-and-qchord.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#omnichord-and-qchord:hover {
  background-size: cover;
}

#piano {
  cursor:pointer;
  background-image: url('../images/piano.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#piano:hover {
  background-size: cover;
}

#rhodes-piano {
  cursor:pointer;
  background-image: url('../images/rhodes-piano.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}


#rhodes-piano:hover {
  background-size: cover;
}

#toy-sax {
  cursor:pointer;
  background-image: url('../images/saxophone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}


#toy-sax:hover {
  background-size: cover;
}

#vocals {
  cursor:pointer;
  background-image: url('../images/vocals.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}

#vocals:hover {
  background-size: cover;
}


#violin {
  cursor:pointer;
  background-image: url('../images/violin.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 300px;
}


#violin:hover {
  background-size: cover;
}

/* Sidebar Styles */
.btn {
  border-radius: 0;
}

.btn-menu {
  background-color: #fff;
  padding: 10px;
}

.glyphicon {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #262626;
  font-size: 24px;
}

.glyphicon:hover {
  color: #24dcff;
}

.glyphicon:focus {
  color: #00b4d6;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #00b4d6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    font-weight: 100px;
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #24dcff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

